# Backend Insforge (REST puro, sin SDK)
EXPO_PUBLIC_INSFORGE_URL=https://eh28u6b7.us-east.insforge.app
EXPO_PUBLIC_INSFORGE_FUNCTIONS_URL=https://eh28u6b7.functions.insforge.app
EXPO_PUBLIC_DEMO_USER_ID=demo-user-001

# Llave anónima opcional (si tu proyecto Insforge la requiere)
# EXPO_PUBLIC_INSFORGE_ANON_KEY=
