# Backend Insforge (REST puro, sin SDK)
EXPO_PUBLIC_INSFORGE_URL=https://3j4dh2sn.us-east.insforge.app
EXPO_PUBLIC_INSFORGE_FUNCTIONS_URL=https://3j4dh2sn.functions.insforge.app

# Llave anónima opcional (si tu proyecto Insforge la requiere)
# EXPO_PUBLIC_INSFORGE_ANON_KEY=
